@font-face {
    font-family: IrishGrover;
    src: url(../fonts/IrishGrover-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: IrishGrover;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../img/backgroundsub.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.game-container {
    text-align: center;
    position: relative;
    width: 80%;
    max-width: 37.5rem; 
}

.game-title {
    font-size: 5rem;
    margin-bottom: 4rem; 
    color: white;
    
}

.flags-container {
    display: flex;
    justify-content: space-around;
    width: 31.25rem; 
    margin: 1.25rem auto;
}

.flag {
    width: 9rem; 
    height: 6rem; 
    border: 2px solid white; 
    border-radius: 15px; 
    cursor: pointer;
}

.option-button {
    display: block;
    width: 80%;
    padding: 0.9375rem; 
    margin: 0.625rem auto; 
    background-color: rgba(100, 70, 30, 0.8); 
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.3125rem; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option-button:hover {
    background-color: rgba(100, 70, 30, 1); 
}